.duo-chat-message {
  max-width: 90%;

  code {
    @include gl-bg-gray-100;
  }

  pre code {
    @include gl-font-sm;
    @include gl-line-height-1;
    @include gl-bg-transparent;
    white-space: inherit;
  }

  p:last-of-type {
    @include gl-mb-0;
  }
}