.gl-banner-illustration {
  @include gl-flex-shrink-0;
  @include gl-mr-6;

  img {
    width: $grid-size * 15;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.gl-banner-title {
  @include gl-heading-scale-500;
  @include gl-mb-3;
}

.gl-banner-close {
  @include gl-absolute;
  @include gl-top-3;
  @include gl-right-3;
}

// Introduction variant
.gl-banner-introduction {
  @include gl-bg-blue-50;
  @include gl-border-blue-300;
}
