.gl-filtered-search-scrollable-container {
  @include gl-bg-white;
  @include gl-display-flex;
  @include gl-flex-grow-1;
  @include gl-flex-basis-0;
  @include gl-overflow-hidden;
  @include gl-align-items-center;
  @include gl-py-2;
  @include gl-pl-4;
  @include gl-pr-7;
  @include gl-inset-border-1-gray-400;
  @include gl-border-none;
  @include gl-rounded-left-base;

  .input-group-prepend + & {
    @include gl-rounded-left-none;
  }
}

.gl-filtered-search-scrollable {
  @include gl-display-flex;
  @include gl-overflow-y-auto;
  @include gl-w-full;
}

.gl-filtered-search-item {
  @include gl-display-flex;
  @include gl-px-1;

  &:first-child {
    @include gl-pl-0;
  }
}

.gl-filtered-search-last-item {
  .gl-filtered-search-term-value {
    @include gl-h-full;
    @include gl-w-full;
    @include gl-align-items-center;
  }

  @include gl-flex-grow-1;
  @include gl-p-0;
  @include gl-pl-1;
  @include gl-h-6;
  min-width: $gl-spacing-scale-12;
}
